<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="//asserts.xcarimg.com/resource/common/jquery-1.8.3.min.js"></script>
</head>

<body>
  <%= require("../../components/header/header.ejs")({data:'this is header ejs template render'}) %>
  这里是主页，
  测试雪碧图
  <i class="icon-s2"></i>


  <img style="margin-right:50px" src="<%= require('../../img/test.png') %>" />
  <a href="./about.html">关于我们</a>
  <div id="test" class="test">css测试</div>

  <%= require("../../components/footer/footer.ejs")({data:'this is footer ejs template render'}) %>
</body>

</html>